/* Define colour theme */
:root {
  --rw-primary-color: #AEBF2A;
  --rw-secondary-color: #A2A63F;
  --rw-tertiary-color: #CDD9A0;
  --rw-background-color: #E8F2D0;
  --rw-white: #F2F2F2;
}

.rw-primary-color {
  background-color: var(--rw-primary-color) !important;
}

.rw-secondary-color {
  background-color: var(--rw-secondary-color) !important;
}

.rw-tertiary-color {
  background-color: var(--rw-tertiary-color) !important;
}

.rw-background-color {
  background-color: var(--rw-background-color) !important;
}

.rw-white {
  background-color: var(--white) !important;
}

.rw-text-secondary {
  color: var(--rw-secondary-color) !important;
}

Button:active {
  background-color: var(--rw-secondary-color) !important;
}